
@font-face{
    font-family: pappins;
    src: url("../assets/fonts/Poppins-SemiBold.ttf");
}
@font-face{
    font-family: pappinsLight;
    src: url("../assets/fonts/Poppins-ExtraLight.ttf");
}


.nav{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:20px; 
    border-radius:20px 20px 0 0;
    height:clamp(100px, 3vh, 150px);
}


.logo{
    height:60px;
}

.nav h2{
    font-family:"pappins";
    font-size:35px;
}


.pulse {
    background: linear-gradient(
        180deg,
        #1A62AF,
        #217DCC,
        #31ACE8
    );

    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.sky{
    background: linear-gradient(
        180deg,
       #FCA729,
        #FDB72E,
        #FDF2A0
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar{
    width:100%;
    border-radius:15px;
    

}

.mainImg{
    height:18rem;
    width:100%;
    display:flex;
    text-align:center;
}

.weatherSec{
    font-family:"pappins";
    flex-direction:column;
}

.p1{
    font-size:60px;
    color:#0F1D37;
    margin-left:18%;
}

.p2{
    font-size:20px;
    font-family:"pappinsLight";
    font-weight:1000;
    color:#0F1D37;
    margin-left:18%;
    padding-bottom:12px;
    width:70%;
    border-bottom:2px solid #F3F4F6;
}

.p3 {
    display: flex;
    align-items: center;
    gap: 8px;

    padding-top: 12px;
    font-size: 15px;
    font-family: sans-serif;
    color: #0F1D37;
    margin-left: 16%;
}

.cloudy {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.main-sec{
    background:#FBFCFD;
    height:100%;
    width:100%;
    border-radius:15px;
}

@media(max-width:600px){
    .nav{
    display:flex;
    align-items:center;
    justify-content:center;
    height:40px;
    
}

.logo{
    height:30px;}
.nav h2{
    font-family:"pappins";
    font-size:23px;
}

}